body {
  min-width: 250px;
  overflow-x: hidden;
}

.header {
  font-size: 16px;
}

#sprite {
  vertical-align: bottom;
  width: 120px;
  height: 120px;
  padding-left: 20%;
  padding-right: 20%;
  line-height: 150px;
}

.battlefield {
  background: no-repeat url(/images/stand.png) left 3px;
  background-size: 100% 100%;
  min-height: 120px;
}

#status {
  font-style: italic;
}

#turn {
  font-size: 12px;
}

#yield {
  font-size: 13px;
}

/*
.navibar {
  line-height:        28px;
  height:             auto;
}
*/