@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Gudea:400,700); 

/* 
 ____       _                                ____         __            _ 
|  _ \ ___ | | _____ _ __ ___   ___  _ __   / ___|  __ _ / _| __ _ _ __(_)
| |_) / _ \| |/ / _ \ '_ ` _ \ / _ \| '_ \  \___ \ / _` | |_ / _` | '__| |
|  __/ (_) |   <  __/ | | | | | (_) | | | |  ___) | (_| |  _| (_| | |  | |
|_|   \___/|_|\_\___|_| |_| |_|\___/|_| |_| |____/ \__,_|_|  \__,_|_|  |_|

Application by /u/superzipzip - Christopher Freeley
CSS by /u/bartoke - http://www.bartoke.nl/
 */

body {
	background:		      #dcddd8;
	padding:			      0;
	margin:				      0;
	overflow:			      hidden;
	font-family:	      "Gudea", "Helvetica Neue", Helvetica, Arial;
	min-width:		      250px;
}

a {
	text-decoration:    none;
}

strong {
	font-weight:        700;
}

.container {
	background:         #FFFFFF;
  font-size:          13px
}

.showzone {
  background-color:   #333;
  height:             130px;
  width:              100%;
  border-bottom:      10px solid #475f77;
}

.header {
	line-height:        45px;
	height:             45px;
	background:         #fff;
	text-align:         center;
	width:              100%;
	text-transform:     uppercase;
	font-size:          22px;
	color:              #d74b4b;
}

.return {
  height:				      35px;
	font-size:		      13px;
	color:				      #475f77;
	margin-left:	      10px;
	padding-left:       30px;
	line-height:	      35px;

	background:		      no-repeat url(/images/icons/home.png) left 3px;
}

 /* A small navigation bar (to be displayed at top of the Page) */
 
.displaytop {
  position:		        fixed;
	top:				        0px;
	left:				        0px;
}

.navibar {
  background-color:   #dcddd8;
}

.navibar a { 
  text-decoration:    none;
  display:            inline-block;
  text-align:         center;
}

.navibar .button {
  background:         #dcddd8;
  line-height:        28px;
  cursor:             pointer;
  width:              123px;
  
  color:              #000000;
  /*text-transform:     uppercase;*/
  font-size:          14px;
}

.navibar .button:hover {
  background:         #BFC0BC;
  -webkit-transition: background-color 0.2s;
  transition:         background-color 0.2s;
}