img {
  vertical-align: middle;
  width: 100px;
  height: 100px;
}

.topmargin {
  margin-top: 10px;
}

.pokedex table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  text-indent: 5px;
}

.pokedex tr:nth-child(odd) {
  background-color:#e5e5e5;
}

/*.pokedex tr:nth-child(even) {
  background-color:#dfdfdf;
}*/

.pokedex tr{
  width: 100%;
}